@media print, screen and (min-width: 768px) {
  ._sp {
    display: none;
  }
}

._pc {
  display: none;
}

@media print, screen and (min-width: 768px) {
  ._pc {
    display: block;
  }
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Hiragino Mincho Pro", serif;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.header {
  background-color: #4D0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1;
}

.header .header-fixed .header-logo {
  width: 150px;
  margin-left: 30px;
}

.header .header-fixed .nav-btn {
  display: none;
}

.header .nav .nav-warp .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
}

.header .nav .nav-warp .nav-list .item + .item {
  margin-left: 20px;
}

.header .nav .nav-warp .nav-list .item a {
  color: white;
  font-size: 18px;
}

.cmn-section.-black {
  background-color: #000;
}

.cmn-title {
  color: #fff;
  text-align: center;
}

.cmn-title .main {
  display: block;
  font-size: 32px;
}

.cmn-title .sub {
  display: block;
  font-size: 20px;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

.cmn-link a {
  color: #fff;
  background-color: #B8860BEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 155px;
  height: 37px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  font-size: 14px;
}

.top {
  background-image: url(../image/top-bg.png);
  background-position: center;
  background-size: cover;
  height: 674px;
  position: relative;
  margin-top: 100px;
}

.top .top-title {
  font-size: 50px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  text-align: center;
}

.features {
  padding-top: 80px;
}

.features .inner .features-cont {
  padding-top: 60px;
}

.features .inner .features-cont .features-list .features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.features .inner .features-cont .features-list .features-item:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.features .inner .features-cont .features-list .features-item:nth-child(odd) .text {
  margin-right: 40px;
}

.features .inner .features-cont .features-list .features-item:nth-child(odd) .image {
  margin-right: 40px;
}

.features .inner .features-cont .features-list .features-item:nth-child(even) .text {
  margin-left: 40px;
}

.features .inner .features-cont .features-list .features-item:nth-child(even) .image {
  margin-left: 40px;
}

.features .inner .features-cont .features-list .features-item .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 40px;
}

.features .inner .features-cont .features-list .features-item .text .title {
  color: #FFFFDD;
  font-size: 28px;
}

.features .inner .features-cont .features-list .features-item .text .desc {
  margin-top: 50px;
}

.features .inner .features-cont .features-list .features-item .text .features-link {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
}

.features .inner .features-cont .features-list .features-item .text .features-link a {
  margin-right: auto;
  margin-left: auto;
}

.features .inner .features-cont .features-list .features-item .image {
  width: 50%;
}
/*# sourceMappingURL=style.css.map */