.top{
  background-image: url(../image/top-mv_sp.png);
  background-position: center;
  background-size: cover;
  height: 674px;
  position: relative;//タイトルの中央寄せ
  margin-top: 100px;
  @include overTab{
    background-image: url(../image/top-bg.png);

  }
  .top-title{
    color: cl(white);
    // タイトルの中央寄せ
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    // ここまでタイトルの中央寄せ
    text-align: center;
    font-size: 35px;
    width: 100%;//改行崩れを防ぐ360pxで崩れなければok
    @include overTab{
      font-size: 50px;
    }
  }
}