.footer{
  background-color: cl(primary);
  padding-top: 60px;
  padding-bottom: 15px;
  border-top: 1px solid #6E6E6E;
  .inner{

  }
  .nav-wrap{
  }

  .nav-list{
    display: flex;
    justify-content: center;
    
    .nav-item{
      +.nav-item{
        margin-left: 16px;
      }
      a {
        font-size: 16px;
        color: cl(white);
      }
    }
  }
  .footer-logo{
    width: 188px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .copyright{
    color: cl(white);
    text-align: center;
    font-size: 16px;
  }
}